.sword-scabbard {
	padding: $padding-large-vertical $padding-large-horizontal;
}
.flame-box {
	height: 32px;
	background: url('./images/flame72.gif') no-repeat 0 0;
	background-size: contain;
}

.cave-border {
		height: 35px;
		background: url('./images/wall.png') repeat-x 0 100%;
	}
