.prob-col {
	border-top: 2px solid $brand-success;
	border-bottom: 2px solid $brand-success;
	background-color: lighten($brand-success, 40);
	height: 175px;
	>p, >img {
		font-size: $font-size-h4;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: justify;
    	-moz-text-align-last: justify;
    	text-align-last: justify;
	}
	> img {
		display: block;
		margin: auto;
	}
}
