<div class="container seed-help">
  <div class="">
    <h1>Shop</h1>
    <p class="lead">Buy Something, Will 'Ya!</p>
    <ol>
      <li>There is a list of items in the left hand column below.</li>
      <li>Show the details of a selected item in the right hand column.</li>
      <li>The first item in the list should be selected by default.</li>
      <li></li>
    </ol>
    <h6>Notes</h6>
    <ul class="small">
      <li>Feel free to modify any html, css, or javascript to accomplish your task.</li>
    </ul>
  </div>
  <!-- End jumbotron -->


  <!-- =================================== -->
  <!--  -->
  <!-- =================================== -->
  <div class="row">
    <itemlist class="item-list col-xs-4"></itemlist>
    <itemdetail class="col-xs-8 item-detail"></itemdetail>
  </div>
  <!-- =================================== -->
  <!-- -->
  <!-- =================================== -->
</div>