
.theme-bg {
	background-image: url('./images/Zelda_II-3.png');
	background-position: 0% 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-origin: padding-box;
	background-clip: border-box;
	background-attachment: scroll;
	background-color: transparent;
	min-height: 600px;
}